<ion-header>
  <ion-toolbar>

    <ion-buttons  slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Sobre o aplicativo</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div  class="bg">
    <div  class="container sobre">
      <span>
        <p>
          O aplicativo surgiu da necessidade de divulgação dos 
          itens históricos da cidade de Palmares. Existe uma grande quantidade 
          de locais de visitação pouco explorados pela cidade e o objetivo desse aplicativo 
          é facilitar a vida dos turistas, visitantes e moradores que queiram 
          conhecer mais da gistória dos predios, praças, monumentos e tudo 
          que possa ser visitado na cidade.
        </p>
        <p>
          Esse aplicativo foi desenvolvido por um grupo de estudantes dos cursos de 
          Manutenção de Computadores e Redes de Computadores do IFPE Campus Palmares.
        </p>
      </span>
    </div>
  </div>
</ion-content>
