.bg{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0;
    height: 100%;

    background: linear-gradient(#fff,#fff,#0cd1e8);
}
.searchlabel{
    position: absolute;
    left: 2%;
    right: 2%;
    z-index: 1;

    span{
        font-size:   15px;
        font-style: normal;
        font-family: sans-serif;   
    }
}
.searchbox{
    position: absolute;
    left:   0;
    right:  0;
    top:    8%;
}