<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    
    </ion-buttons>
    
    <ion-title>
      Mapa de itens
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div  class="bg">

    <div  class="searchlabel">
      <span>
        <p>
          Selecione um ponto turístico no mapa ou através da barra de busca.
        </p>
      </span>
    </div>
    
    <div class="searchbox">
      <ion-item>
        <ion-searchbar></ion-searchbar>
      </ion-item>
    </div>
    
  </div>

  
</ion-content>
