ion-avatar {
    --border-radius: 0;
}
.desc{
    font-style: italic;
    color: grey;
    font-size: 13px;
}
.ano{
    //font-size: 17px;
    color: black;
}
.foto{
    position: relative;
    width: 200%;
    height: 200%;
    right: 70%;
    top: 0%;

}