<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de patrimônios históricos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="!itens.length">

    <ion-card>
      <ion-item *ngFor="let item of [0, 1, 2]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-card>


  </ion-list>

  <ion-item button [routerLink]="['/detalhamento-item', item.id]" *ngFor="let item of itens">
    <ion-thumbnail slot="end">
      <img [src]="item.foto">
    </ion-thumbnail>

    <ion-label>
      <p class="ano">{{ item.titulo }}</p>
      <p class="ano">{{ item.ano | date: 'yyyy' }}</p>

    </ion-label>
  </ion-item>
</ion-content>