<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Informações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="back_g">
  </div>
  <div  class="container info ion-text-center">
    <br>
    <fieldset >
      <legend class=legend><b>Site do Projeto</b></legend>
        <span>
            <a href="https://qreduca.wixsite.com/site">https://qreduca.wixsite.com/site</a>
        </span>
    </fieldset>
    <br><br>
    <fieldset >
        <legend class=legend><b>Contatos</b></legend>
          <span>
              qreduca@gmail.com
              gabriel.azuirson@palmares.ifpe.edu.br
              jvgs@a.palmares.ifpe.edu.br
              haads@a.palmares.ifpe.edu.br
              pirs@a.palmares.ifpe.edu.br
              njsa@a.palmares.ifpe.edu.br
          </span>
      </fieldset>
  </div>
  
    <div  class="container dev ion-text-center">
      <span >Desenvolvido no IFPE Palmares</span>
    </div>
</ion-content>
